.box-layout{
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh; // vh = viewport height
  width: 100vw;

  justify-content: center;
  align-items: center;
}

.box-layout__box {
  background: fade-out(white, .2);
  text-align: center;
  border-radius: 3px;
  padding: $l-size $m-size;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}