.bt-login{
  background: $blue;
  color: white;

  display: inline-block;
  text-decoration: none;
  line-height: 1;

  border: none;
  font-size: $font-size-large;
  padding: $s-size;
}

.button--link{
  background: none;
}

.button--secondary{
  background: #888;
}