.header{
  background: $dark-blue;

}

.header__title{
  color: white;
  text-decoration: none; // Remove link decorators
  h1{
    margin: 0;
  }
}

.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size;
}