.input-group{
  display: flex;
  margin-bottom: $l-size;
  margin-top: $l-size;

@media(min-width: $desktop-breakpoint){
  flex-direction: row;
  margin-bottom: $s-size;
  margin-top: $s-size;
}

}

.input-group__item{
  margin-right: $s-size;
  margin: 0 $s-size 0 0;
}