.page-header {
  background: $off-white;
  margin-bottom:  $l-size;
  padding: $l-size;
}

.page-header__actions{
  margin-top: $m-size;
}

.page-header__title{
  font-weight: 100;
  margin: 0;
  span{
    font-weight: 700;
  }
}