html{
  font-size: 62.5%
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $m-size;

  line-height: 1.6; // give more spaces between paragraphs
  color: $dark-grey;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor:default;
}

.is-active{
  font-weight: bold;
}

*{
  box-sizing: border-box; // Remove 
}
